<h1>Teams#index</h1>
<div class="container">
  <div class="row"><%= link_to "Home Page", root_path %></div>
  </div>
<div class="container">
  <div class="row">
    <% @team.all[:data].each do |org| %>
      <div class="card col-sm-3">
        <div class="card-body">
          <%= link_to org['name'], team_path(org['id']) %>
          <p class="card-text">Team id:<%= org['id']%></p>
          <p class="card-text">Org link:<%= org['link']%></p>
          <p class="card-text">Org. venue:<%= org['venue']%></p>
          <p class="card-text">Org. official site URL:<%= link_to(org['officialSiteUrl'], org['officialSiteUrl'] )%></p>
        </div>
      </div>
    <% end %>
    <%= @team.all[:data].class %>
    <%= @team.all[:data].count %>
    <%= @team.all[:data].pop %>
  </div>
</div>
