<div class="row justify-content-center">
  <div class="col d-flex justify-content-center">
    <h1>Teams - by conference</h1>
  </div>
</div>
<div class="container">
  <div class="row p-4">
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
      <h2>Western</h2>
      <%# binding.pry %>
      <% western = []%>
      <% @teams.each do |team| %>
        <% western << team if team['conference']['name'] == 'Western' %>
      <% end %>
      <% western = western.sort_by { |team| team['name'] }%>
      <% western.each do |team| %>
        <div class="pt-1">
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
      <h2>Eastern</h2>
      <% eastern = []%>
      <% @teams.each do |team| %>
        <% eastern << team if team['conference']['name'] == 'Eastern' %>
      <% end %>
      <% eastern = eastern.sort_by { |team| team['name'] }%>
      <% eastern.each do |team| %>
        <div class="pt-1">
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" name="eastern_divisions">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1>Teams - by Division</h1>
    </div>
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center pb-3">
      <h2>Metro</h2>
      <% metropolitan = [] %>
      <% eastern.each do |team| %>
        <% metropolitan << team if team['division']['name'] == 'Metropolitan'%>
      <% end %>
      <% metropolitan.each do |team| %>
        <div>
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %></div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center pb-3">
      <h2>Atlantic</h2>
      <% atlantic = [] %>
      <% eastern.each do |team| %>
        <% atlantic << team if team['division']['name'] == 'Atlantic'%>
      <% end %>
      <% atlantic.each do |team| %>
        <div>
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="container" name="western_divisions">
  <div class="row">
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
      <h2>Central</h2>
      <% central = [] %>
      <% western.each do |team| %>
        <% central << team if team['division']['name'] == 'Central'%>
      <% end %>
      <% central.each do |team| %>
        <div>
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %></div>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-6 d-flex flex-column align-items-center">
      <h2>Pacific</h2>
      <% pacific = [] %>
      <% western.each do |team| %>
        <% pacific << team if team['division']['name'] == 'Pacific'%>
      <% end %>
      <% pacific.each do |team| %>
        <div>
          <%= link_to image_tag("https://www-league.nhlstatic.com/images/logos/teams-current-primary-light/#{team['id']}.svg", :size => "50x40"), team_path(team['id']) %>
          <%= link_to "#{team['name']}", team_path(team['id']), class: "text-decoration-none" %></div>
      <% end %>
    </div>
  </div>
</div>
