<% if !current_user.nil? %>
  <%= current_user.email %>
<% end %>
<div class="row">
  <div class="row justify-content-between">
    <div class="col-8 shadow">
    <h1>Dashboard for <%= @user.email %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis praesentium corporis tenetur dignissimos ab, necessitatibus itaque modi totam, quaerat ipsam dicta qui assumenda nulla blanditiis nisi earum saepe, hic temporibus.</p>
    <h2>heading 2</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt aut tenetur vel corporis veniam voluptatum autem, quidem odit numquam recusandae repudiandae? Minus, enim! Animi porro repellendus, fugiat hic deserunt debitis!</p>
    <h2>heading 2</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, aliquid autem. Explicabo unde nemo eaque quibusdam autem quas ea totam eius, error neque nesciunt, accusantium provident enim hic fugit quo.</p>
      <% if @user.favorite_team.nil? %>
        Choose your favorite team
        <%= form_tag("/users/#{@user.id}", method: :put) do %>
          <% teams_array = Team.all.map { |team| team.name } %>
          <%= select_tag(:team, options_for_select(teams_array)) %>
          <%= submit_tag 'save' %>
        <% end %>
      <% end %>
    </div>
    <div class="col-2 shadow">
      <div class="row flex-column">
        <div class="col user_sidebar_headers">
          total points
        </div>
        <div class="col">
          0
        </div>
      </div>
      <div class="row flex-column">
        <div class="col user_sidebar_headers">
          favorite team
        </div>
        <div class="col">
          <%= @user.favorite_team  %>
        </div>
      </div>
    </div>
  </div>
</div>
