<div class="col-lg-8">
  <p>HockeyStats is a project to develop new metrics, valuable metrics, objective metrics from the perspective of a hockey player who understands the game of hockey from within the boards.</p>
</div>
<div class="row">
  <div class="col-lg-6 border border-1">
    col-lg-6

<div class="row border border-1">
  <div class="col-lg-4">
    column 1
  </div>
  <div class="col-lg-4">
    column 2
  </div>
  <div class="col-lg-4">
    column 2
  </div>
</div>
<div class="col-lg-4">
  <%= form_with(url: users_path, method: :post, local: true, class: "p-4 border rounded-3 bg-light") do |f| %>
    <%= content_tag :legend, "Sign Up", class: 'display-4' %>
    <div class="form-floating mb-3">
      <%= f.text_field :email, type: 'email', class: 'form-control', id: 'floatingInput', placeholder: 'email'  %>
      <%= f.label :email, 'email address' %>
    </div>
    <div class="form-floating mb-3">
      <%= f.text_field :password, type: 'password', class:'form-control', id: 'floatingInput', placeholder: 'password' %>
      <%= f.label :password, 'password' %>
    </div>
    <div class="form-floating mb-3">
      <%= f.text_field :password_confirmation, type: 'password', class:'form-control', id: 'floatingInput', placeholder: 'password_confirmation' %>
      <%= f.label :password_confirmation, 'password_confirmation' %>
    </div>
    <div>
      <%= f.submit 'Sign Up', class: 'btn btn-primary w-100 btn-lg' %>
    </div>
  <% end %>
  <div class="px-4 mt-2">
    <%= button_to 'Log In', {action: "login_form", controller: 'users'}, {method: :get, class: 'btn btn-secondary w-100 btn-lg'} %>
  </div>
  <div class="px-4 mt-2">
    <%= link_to "Log In with Github", "https://github.com/login/oauth/authorize?client_id=#{ENV.fetch('client_id')}&scope=repo", class: 'btn btn-secondary w-100 btn-lg' %>
  </div>
</div>
