<div class="row mt-3">
	<div class="col p-3 border border-1">
		<%= link_to 'Leaders', leaders_path, class: 'btn btn-outline-primary btn-lg' %> goals, assists, points, wins, shutouts
	</div>
</div>

<div class="row mt-3">
  <div class="col border border-1 p-3"><%= link_to 'Players', players_path, class: 'btn btn-outline-primary btn-lg' %> - profile, season stats, regular season career stats, playoffs career stats, playoff stats by year</div>
</div>

<div class="row mt-3">
  <div class="col border border-1 p-3"><%= link_to 'Schedules', schedule_index_path, class: 'btn btn-outline-primary btn-lg'  %> - all, specific team</div>
</div>

<div class="row mt-3">
  <div class="col border border-1 p-3"><%= link_to 'Scores', scores_path, class: 'btn btn-outline-primary btn-lg' %> - today, yesterday, specific</div>
</div>
<div class="row mt-3">
  <div class="col border border-1 p-3"><%= link_to 'Standings', standings_path, class: 'btn btn-outline-primary btn-lg' %> - overall</div>
</div>
<div class="row mt-3">
  <div class="col border border-1 p-3"><%= link_to 'Teams', teams_path, class: 'btn btn-outline-primary btn-lg' %> - all, roster, profile, stats</div>
</div>
<div class="row mt-3">
  <div class="col border border-1 p-3">
    <%= link_to 'Configurations', configurations_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>
</div>

