<div class="container">
  <div class="row m-2">
    <div class="col m-1 d-flex justify-content-center">
      <ul class="list-group list-unstyled">
        <li>
          <%= link_to 'Leaders', leaders_path, class: 'list-group-item list-group-item-action' %>
        </li>
        <li><%= link_to 'Players', players_path, class: 'list-group-item list-group-item-action' %></li>
        <li><%= link_to 'Schedule', schedule_index_path, class: 'list-group-item list-group-item-action' %></li>
        <li><%= link_to 'configuration', configurations_path, class: 'list-group-item list-group-item-action' %></li>
        <li><%= link_to 'Scores', scores_path, class: 'list-group-item list-group-item-action' %></li>
        <li><%= link_to 'Standings', standings_path, class: 'list-group-item list-group-item-action' %></li>
        <li><%= link_to 'Teams', teams_path, class: 'list-group-item list-group-item-action' %></li>
      </ul>
    </div>
  </div>
</div>

