
<div class="row flex-column border border-2 mt-3">
  <div class="columns col p-3">
  <%= link_to 'Leaders', leaders_path %> - goals, assists, points, wins, shutouts</div>
  <div class="columns col p-3"><%= link_to 'Players', players_path %> - profile, season stats, regular season career stats, playoffs career stats, playoff stats by year</div>
  <div class="columns col p-3"><%= link_to 'Schedules', schedule_index_path %> - all, specific team</div>
  <div class="columns col p-3"><%= link_to 'Scores', scores_path %> - today, yesterday, specific</div>
  <div class="columns col p-3"><%= link_to 'Standings', standings_path %> - overall</div>
  <div class="columns col p-3"><%= link_to 'Teams', teams_path %> - all, roster, profile, stats</div>
</div>
