<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <ul>
      <li><%= link_to "HockeyViz.com", "https://hockeyviz.com/" %></li>
      <li><%= link_to "JFresh", "https://jfresh.substack.com/" %></li>
      <li>
        <%= link_to "Hockey-Reference.com", "https://www.hockey-reference.com/analytics/" %>
      </li>
      <li> <%= link_to "NaturalStatTrick.com", "https://www.naturalstattrick.com/teamtable.php" %></li>
      <li><%= link_to "Evolving-Hockey.com", "https://evolving-hockey.com/" %></li>
      <li><%= link_to "A really cool shot plotter", "https://shot-plotter.netlify.app/ice-hockey" %></li>
      <li><%= link_to "topdownhockey.medium.com", "https://topdownhockey.medium.com/" %></li>
      <li><%= link_to "moneypuck.com", "https://moneypuck.com/stats.htm" %></li>
      <li><%= link_to "puckIQ.com", "http://puckiq.com/" %></li>
      <li><%= link_to "puckPedia.com", "https://puckpedia.com/stats" %></li>
      <li><%= link_to "Article about Advanced Stats at TheHockeyWriters.com [12/26/2021]", "https://thehockeywriters.com/hockey-advanced-analytics-importance-metrics-definitions/" %></li>
      <li><%= link_to "Article from Northwestern U from 2020 'Beginners Guide to Advanced Hockey Stats'", "https://sites.northwestern.edu/nusportsanalytics/2020/05/06/advanced-hockey-statistics/" %></li>
      <li><%= link_to "A Brief Guide to hockey's Advanced Stats - SecondCityHockey", "https://www.secondcityhockey.com/2022/5/24/23130755/advanced-hockey-statistics-explainer-faqs-walkthroughs" %></li>
    </ul>
  </div>
</div>
