<td><%= @player_id %></td>
<td><%= @player_fullName %></td>
<td><%= @player_link %></td>
<td><%= @player_firstName %></td>
<td><%= @player_lastName %></td>
<td><%= @player_primaryNumber %></td>
<td><%= @player_birthDate %></td>
<td><%= @player_stats['stats'] %></td>
