<td><%= params[:id] %></td>
<td><%= @profile['fullName'] %></td>
<td><%= @profile['link'] %></td>
<td><%= @profile['firstName'] %></td>
<td><%= @profile['lastName'] %></td>
<td><%= @profile['primaryNumber'] %></td>
<td><%= @profile['birthDate'] %></td>

