<div class="row">
  <div class="col-4">
    <%= @data['people'][0]['fullName'] %>
  </div>
</div>
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>year</th>
        <th>Team</th>
        <th>G</th>
        <th>A</th>
        <th>PTS</th>
        <th>TOI</th>
      </tr>
      <% @stats['stats'][0]['splits'].reverse.each do |year| %>
        <tr>
          <td>
            <% year1 = year['season'].chomp[0..3]%>
            <% year2 = year['season'].chomp[-4..-1]%>
            <%= "#{year1} - #{year2}" %>
          </td>
          <td><%= year['team']['name'] %></td>
          <td>
            <%= year['stat']['goals'] %>
          </td>
          <td><%= year['stat']['assists'] %></td>
          <td><%= year['stat']['points'] %></td>
          <td><%= year['stat']['timeOnIce'] %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
