<div class="row">
  <div class="col border border-1 d-flex justify-content-center important">
    <h1>Players#show</h1>
  </div>
</div>
<div class="row">
  <div class="col"><%= params %></div>
</div>
<div class="row">
<h1>profile for <%= @player_name %></h1>
  <div class="col"><%= @profile %></div>
</div>
<div class="row">
<h1>regular season career stats</h1>
  <div class="col"><%= @regular_season_career_stats %></div>
</div>
<div class="row">
<h1>playoffs career stats</h1>
  <div class="col"><%= @playoffs_career_stats %></div>
</div>
<div class="row">
<h1>playoffs stats by year</h1>
  <div class="col"><%= @playoffs_stats_by_year %></div>
</div>