<div class="container">
	<div class="row">
		<div class="col"><%= @player_id %></div>
		<div class="col"><%= @player_fullName %></div>
		<div class="col"><%= @player_link %></div>
		<div class="col"><%= @player_firstName %></div>
		<div class="col"><%= @player_lastName %></div>
		<div class="col"><%= @player_primaryNumber %></div>
		<div class="col"><%= @time_on_ice %></div>
	</div>
</div>
