<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <th>Year</th>
        <th>Games Played</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Total Points</th>
        <th>PIMs</th>
      </tr>
      <% @player_stats.each do |szn|%>
        <tr>
          <td><%= szn.season %></td>
          <td><%= szn.games_played %></td>
          <td><%= szn.goals %></td>
          <td><%= szn.assists %></td>
          <td><%= szn.total_points %></td>
          <td><%= szn.penalty_minutes %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
